// simplicity when naming

.header {
  display: none;
  
  @include breakpoint(M) {
    display: flex;
    top: 0;
    max-width: auto;
  }
}
.subscribe-now {
  position: relative;
  top: 1rem;
  left: 2rem;
}
.main {
  max-width: 60rem;
  background: lightblue;
}